.content{
  height: 100vh;
}

.text-content{
  position: absolute;
  top: 40%;
  left:50%;
  padding: 5px 15px;
  transform: translate(-50%,-50%);
  background: grey;
  color: azure;
  border-radius: 20px;
  font-size: 50px;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 8px 38px 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  font-size: 16px;
  width: 200px;
  outline: none;
}
select::after {
  content: '\25BC'; /* Unicode for downward arrow */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none; /* Ensure the arrow doesn't interfere with clicking */
}